body {
	background: url("../extra/.jpg") no-repeat fixed center;
	background-size: cover;
}

h1 {
	color: black;
	text-shadow: -1.5px 0 #FFFFFF, 0 1.5px #FFFFFF, 1.5px 0 #FFFFFF, 0 -1.5px #FFFFFF;
	text-align: center;
	font-family: verdana;
	font-size: 28px;
}

h2 {
	color: black;
	text-shadow: -1.5px 0 #FFFFFF, 0 1.5px #FFFFFF, 1.5px 0 #FFFFFF, 0 -1.5px #FFFFFF;
	text-align: center;
	font-family: verdana;
	font-size: 24px;
}

form{font-size:20px;text-align: center;}
enter{padding-top:10px}

a {
	font-family: verdana;
	font-size: 20px;
	text-align: justify;
}

a:link    {color:#1A0DAB; background-color:transparent; text-decoration:none}
a:visited {color:#1A0DAB; background-color:transparent; text-decoration:none}
a:hover   {background-color:transparent; text-decoration:underline}
a:active  {color:#1A0DAB; background-color:transparent; text-decoration:underline}

img {border-radius: 8px; border: 1px solid #DDD; width:40px;height:40px;}

ul {
	color: black;
	text-align: justify;
	font-family: verdana;
	font-size: 16px;
}

.bio {
	margin-right: 20px;
	margin-left: 20px;
}

.button {
	margin-left: 50px;
	margin-bottom: 20px;
}

.footer {
	bottom: 0;
}